*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
}
*::before,
*::after {
	display: block;
}

img,
figure {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	object-position: center center;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

p a {
	display: inline;
}

li {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

svg {
	width: 100%;
	display: block;
	fill: currentColor;
}

form,
input,
button,
label {
	font: inherit;
	hyphens: auto;
	background-color: transparent;
	color: inherit;
	display: block;
	appearance: none;
}

input {
	&[type='number'] {
		border: none;
		outline: none;
		background: transparent;
		text-align: center;
		font-size: inherit;
		width: 40px;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
